.baner {
  @extend %flex-column-center;
  padding: 0 28px;
  text-align: center;

  &__heading {
    font-weight: 300;
    font-size: 52px;
    line-height: 66px;
    margin-bottom: 16px;
  }

  &__paragraph {
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 28px;
  }
}
