.btn {
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  color: $white-color;

  &--green-box {
    border: none;
    background: $green-color;
    position: relative;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $white-color;
  }

  &__text {
    @extend %base-font-line;
  }
}

.btn__submit {
  width: 100%;
  &--text {
    font-size: 16px;
    line-height: 22px;
  }
}

.btn--with-icon {
  padding-left: 44px;

  &::before {
    @extend %base-kit-pseudo-elem;
    top: 17px;
    left: 30px;
    width: 8px;
    height: 12px;
    background-image: url('../images/icons/angle-right-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
