.features-list {
  @extend %flex-column-center;

  &__image {
    width: 64px;
    height: 64px;
    margin: 0 auto 12px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-color;
  }
}

.features-list__item {
  position: relative;
  text-align: center;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}
