.form-field {
  position: relative;
  padding-top: 35px;
}

.form-field--indent {
  margin-bottom: 53px;
}

.form-field__label {
  position: absolute;
  left: 5px;
  top: 45px;
  color: #808080;
}

.form-field__input {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  padding: 8px 5px;
  border: 1px solid #f5f5f5;
}

.form-field__input:focus + .form-field__label {
  top: 12px;
  transition-duration: 0.3s;
}
