.gallery {
  margin: 0 auto;
  width: 100%;
  min-width: 264px;
  max-width: 1360px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__item {
  width: 264px;
  margin: 0 7px 7px 0;
  &:hover {
    transition-duration: 0.5s;
    opacity: 0.85;
  }

  & a {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc(25% - 8px);
    margin-right: 8px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }
}
