.header {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 28px;
  margin-bottom: 44px;

  &__navigation {
    @extend %flex-column;
  }

  &__link--green {
    color: $green-color;
  }
}

.header__logo {
  position: relative;
  padding-left: 46px;
  margin: 22px 0 10px;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;

  &::before {
    @extend %base-kit-pseudo-elem;
    left: 0;
    top: 6px;
    width: 39px;
    height: 30px;
    background-image: url('../images/icons/book-open.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
